* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
}
:root {
  --deepgray: #666666;
  --green: #448899;
  --lightgray: #e8e8e8;
  --black: #000000;
  --white: #ffffff;
}
html,
body {
  overflow-x: hidden;
}

header {
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
    position: fixed;
    height: 54px;
    z-index: 10;
    border-bottom: var(--lightgray) solid 1px;
    nav {
      width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-link {
        text-decoration: none;
        .logo {
          color: var(--green);
          font-size: 1.875rem;
        }
      }
      ul {
        list-style: none;
        display: flex;
        a {
          color: var(--deepgray);
          text-decoration: none;
          font-size: 1rem;
          margin-left: 10px;
          margin-right: 10px;
          cursor: pointer;
        }
        a:hover {
          color: var(--middlegray);
        }
      }
    }
  }
}
.image-container {
  width: 50%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  .slides-box {
    position: relative;
    width: 100%;
    height: 25rem;
    border-radius: 5px;
    display: flex; ///新增
    .slide {
      flex-shrink: 0; ///新增
      width: 100%;
      height: 25rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .slide-button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-style: none;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    cursor: pointer;
  }
  .next-button {
    right: 0px;
  }
  .nav-buttons {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    .nav-button {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      border-color: var(--white) solid 1px;
      margin: 0 5px;
      background: var(--lightgray);
      opacity: 0.8;
      cursor: pointer;
    }
    .current-button {
      background: var(--black);
    }
  }
}

main {
  display: flex;
  justify-content: center;
  .attraction-container {
    width: 1200px;
    display: flex;
    padding-top: 54px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0;
    .att-booking-zone {
      width: 45%;
      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      color: var(--deepgray);
      .att-guide {
        display: flex;
        flex-direction: column;
        height: 25%;
        justify-content: space-around;
        .att-name {
          font-size: 1.5rem;
          font-weight: 700;
        }
        .att-info {
          display: flex;
        }
      }
      .booking {
        display: flex;
        height: 75%;
        background: var(--lightgray);
        padding: 10px 0px;
        border-radius: 5px;
        form {
          padding: 0 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          background-color: var(--lightgray);
          padding-bottom: 10px;
          height: 100%;
          .fees-zone {
            display: flex;
            flex-direction: row;
          }
          .date {
            display: flex;
            flex-wrap: wrap;
            input {
              border-style: none;
            }
            .warning {
              margin: 0 10px;
              color: rgb(167, 23, 47);
              font-size: 1rem;
            }
          }
          .time-radios {
            display: flex;
            label {
              display: flex;
              align-items: center;
              .radio-input {
                display: none;
              }
              .radio-div {
                height: 1.2rem;
                width: 1.2rem;
                border-radius: 50%;
                padding: 0.1rem;
                background-color: var(--white);
                margin: 0 5px;
              }
              .radio-div::after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: block; //重要
              }
              .radio-input:checked + .radio-div::after {
                background: var(--green);
              }
            }
          }
          .booking-button {
            width: 30%;
            background: var(--green);
            border-radius: 5px;
            border-style: none;
            height: 40px;
            font-size: 1.2rem;
            color: var(--white);
          }
        }
      }
    }
    .line {
      width: 95%;
      height: 1px;
      margin: 2rem 0 0 0;
      background: var(--lightgray);
    }
    .more-info {
      width: 95%;
      color: var(--deepgray);
      margin: 0.5rem;
      .intro {
        margin: 1.5rem 0;
      }
      .location {
        margin: 1.5rem 0;
      }
      .transportation {
        margin: 1.5rem 0;
      }
    }
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  background: var(--deepgray);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

@media screen and(max-width:1199px) {
  header {
    .nav-container {
      nav {
        width: 95%;
      }
    }
  }
  main {
    .attraction-container {
      width: 100%;
      .image-container {
        width: 50%;
        .slides-box {
          width: 100%;
          .slide {
            width: 100%;
            height: 25rem;
          }
        }
      }
      .att-booking-zone {
        width: 42%;
        .booking {
          form {
            .booking-button {
              width: 50%;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .nav-container {
      nav {
        width: 95%;
      }
    }
  }
  main {
    .attraction-container {
      .image-container {
        width: 100%;
        margin: 0rem;
        .slides-box {
          width: 100%;
          .slide {
            width: 100%;
            height: 25rem;
          }
        }
      }
      .att-booking-zone {
        width: 100%;
        .att-guide {
          margin: 10px 0;
        }
        .booking {
          form {
            h4,
            p {
              padding: 7px 0;
            }
            .booking-button {
              width: 40%;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
