<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/member css/member.css">
    <link rel="stylesheet" href="/static/css/signin css/signin.css">
    <title>Taipei Trip 台北一日遊-會員專區</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <nav> 
                <a href="/" class="logo-link"><H1 class="logo">台北一日遊</H1></a>
                <ul class="menu">
                    <li><a  class="go-booking">預定行程</a></li>
                    <li><a  class="member-status">登入/註冊</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="loader-cover">
            <div class="loader"></div>
        </div>
        <div class="account">
            <div class="photo"><p class="photo-p"></p></div>
            <div class="info">
                <p class="username"></p>
                <p class="email"></p>
                <label for="psw" class="psw-label">
                    <p class="psw-item"></p>
                    <input id="psw" class="psw-input" value="" disabled="disabled" type="text">
                    <div class="change-psw"></div>
                    <div class="cancel-psw cancel-hide"></div>
                </label>
            </div>
        </div>
        <div class="bar"></div>
        <div class="title-box">
            <div class="title">
                <p class="orderNum">訂單編號</p>
                <p class="attName">預定景點</p>
                <p class="bookingDate">預定日期</p>
                <p class="payment">付款狀態</p>
            </div>
        </div>
        <div class="orderlist">
            <!-- Orderlist will been shown here. -->
        </div>
    </main>
    <footer>
        <p>COPYRIGHT©2021台北一日遊</p>
    </footer>
    <script src="/static/js/signin-signup.js"></script>
    <script src="/static/js/member.js"></script>
</body>
</html>