<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signin css/signin.css">
    <link rel="stylesheet" href="/static/css/thankyou css/thankyou.css">
    <title>Taipei Trip 台北一日遊-訂單確認</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <nav> 
                <a href="/" class="logo-link"><H1 class="logo">台北一日遊</H1></a>
                <ul class="menu">
                    <li><a  class="go-booking">預定行程</a></li>
                    <li><a  class="member-status">登入/註冊</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="message">
            <span class="m1">確認訂單付款狀態...</span>
            </br>
            <span class="m2"></span>
        </div>
        <div class="order-number"></div>
        <div class="note"></div>
    </main>

    <footer>
        <p>COPYRIGHT©2021台北一日遊</p>
    </footer>
    
</body>
<script src="/static/js/signin-signup.js"></script>
<script src="/static/js/thankyou.js"></script>
</html>

